{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}
{% block body %} 
    <!-- Menu -->
    {% include 'menu.html.twig' with {'user': user} %}

    <!-- Content -->
    <main>
      
      <section id="product-container">
        
        <div class="filtre">
            
            <h2>Items</h2>
            
            <ul class="filtre-container">
              <li class="filtre-ligne">
                  <a href="#">Tout nos produit</a>
              </li>
              
              <li class="filtre-ligne">
                <a href="#">Rubis</a>
              </li>
              
              <li class="filtre-ligne">
                <a href="#">Turquoise</a>
              </li>
              
              <li class="filtre-ligne">
                <a href="#">Grenat</a>
              </li>
              
              <li class="filtre-ligne">
                <a href="#">Emeraude</a>
              </li>
              
              <li class="filtre-ligne">
                <a href="#">Amazonite</a>
              </li>

            </ul>

        </div>

        <div class="produit">

            <!-- LISTE DES CATEGORIES -->
            <h2>Catégorie</h2>
            <div class="image-container">
                {% for category in categories %}
                    <div class="image-box c1">
                        <p class="title-categorie">{{ category.name }}</p>
                    </div>
                {% endfor %}
            </div>

            <!-- LISTE DES PRODUITS -->
            <h2>Tous nos produits</h2>
            <!-- Card composant --> 
            {% for product in products %}
                {% include 'cartboutique.html.twig' with {
                    product: product
                } %}
            {% endfor %}

            <div class="pagination">
                <p class="pagination-title">Page</p>
                <ul class="pagination-container">
                <li></li>
                <li>
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>>></li>
    
                </ul>
            </div>
        </div>

        <!-- PAGINATION -->
        <div class="pagination">
            <p class="pagination-title">Page</p>
            <ul class="pagination-container">
              <li><<</li>
              <li>
                <a href="#">1</a>
              </li>
              <li>
                <a href="#">2</a>
              </li>
              <li>
                <a href="#">3</a>
              </li>
              <li>
                <a href="#">4</a>
              </li>
              <li>
                <a href="#">5</a>
              </li>
              <li>>></li>
  
            </ul>
        </div>
      </section>
    </main>
    
    <!-- Footer -->
    {% include 'footer.html.twig' %}
{% endblock %}