{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}
{% block body %}

 {% if user %}
    <h2>Bienvenue {{ user.firstname}}</h2>
{% else %}
    <h2>Connectez vous avec votre adresse mail</h2>
{% endif %}
    {% include 'Composant/formulaires.html.twig' with {
    'formAction': '/connexion',
    'formMethod': 'POST',
    'isRegistrationPage': false
} %}
{% endblock %}