{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}
{% block body %}
<!-- MENU -->
{% include 'menu.html.twig' with {'user': user} %}

<!-- CONTENT -->
<section>
        
        <div id="Container">
            <form id="form" >
      
            <label for="nom">Adresse mail</label>
            <input type="text" id="nom" name="nom" required>
        
      
            <label for="sujet">Sujet :</label>
            <input type="text" id="sujet" name="sujet" required>
      
            <input type="submit" value="Envoyer">
      
      
            </form>
        </div>
      
        <div id="content">
            <div id="bloc">
                <h2>Des Questions ?</h2>
                <h2>Un Commentaire ?</h2>
                <h2>Une Demande Spécifique ?</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, </p>
            </div>
        </div>
    </section>

    <section id="map">
        
    </section>

<!-- FOOTER -->
{% include 'footer.html.twig' %}
{% endblock %}