{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block body %}

    <!-- MENU -->
    {% include '/Composant/menu.html.twig' with {'user': user} %}

    <!-- CONTENT -->

        <!-- Banner -->
        <div class="banner">
            <!-- Shape -->
            <img src="./css/img/Vector 1.png" alt="shape" />
            <div class="hero-container">
                <div class="hero-card-container">
                    <div class="hero-card left">
                        <div class="box-image">
                            <img src="./css/img/Star 3.png" alt="star"/>
                        </div>
                        <h2 class="title">Saphyre </br><span>Pierre</span> </h2>
                    </div>
                    <div class="hero-card center">
                        <div class="overlay">
                            <h2>Made in france
                                <img class="icone-fr" src="./css/img/france-2.png" alt="icone france"/>
                            </h2>
                        </div>
                        <h2 class="title"></h2>
                    </div>
                    <div class="hero-card right">
                        <div class="box-image">
                            <img src="./css/img/Star 3.png" alt="star"/>
                        </div>
                        <h2 class="title">Emeraude </br><span>Pierre</span> </h2>
                    </div>
                </div>
            </div>
        </div>

        <!-- about -->
        {% include '/Composant/BlocApropos.html.twig' with {
            background: 'Blog',
            title: 'A propos',
            description: 'Le nom de ma société m’est venu naturellement en associant le diminutif de mon prénom à ma passion de toutes les pierres ornementales, qui, par leur multitude de couleurs et d’éclats, ne cessent de m’enchanter depuis l’enfance. Je me suis lancée dans la création de bijoux pour que chaque femme ait la possibilité d’accéder à des gemmes telles que le saphir, l’émeraude ou la tourmaline, belle méconnue se parant de mille teintes, mon unique objectif est que vous trouviez la pierre qui s’accordera à votre humeur du jour ou de toujours à un prix vous permettant de multiplier votre plaisir… Tous mes bijoux sont fabriqués à la main dans mon atelier lyonnais, en éditions limitées pour plus
                        d’exclusivité, certains même en unique exemplaire, ils vous apporteront cette touche particulière qui vous rendra unique, chaque matière ayant été soigneusement sélectionnée. ',
        }%}

        <!-- Collections -->
        <div class="collection">
                <img src="css/img/Vector 1.png" alt="shape" />
                <div class="collection-container">
                    <h2>Nos collections</h2>
                    <p class="paragraphe">
                        Nos collections reflètent notre passion pour la mode et notre engagement envers la durabilité.
                    </p>
                    <!-- Image -->
                    <div class="shape-box">
                        <div class="shape figure1">
                            <div class="title-shape">
                                Ras de cou
                            </div>
                        </div>
                        <div class="shape figure2">
                            <div class="title-shape">
                                Boucle d'oreille
                            </div>
                        </div>
                        <div class="shape figure3">
                            <div class="title-shape">
                                Sautoir
                            </div>
                        </div>
                        <div class="shape figure4">
                            <div class="title-shape">
                                Bracelet
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <!-- Slide card -->
        <div class="product">
            <div class="separator"></div>
            <div class="product-container">
                <h2>Nouveauté </br><span>Nos tops produits</span></h2>
                <!-- Slide  -->
                <div class="slide">
                    <div class="slide-container">
                    {% for bijoux in bijoux %}
                        {% include '/Composant/slideCard.html.twig' with {
                            product : bijoux
                        } %}
                    {% endfor %}
                    </div>
                    <div class="arrows-container">
                        <i class="bi bi-arrow-right-circle"></i>
                        <i class="bi bi-arrow-left-circle"></i>
                    </div>
                </div>
                <!-- BTN -->
                <a href="/boutique" class="product-btn">Voir plus</a>
                </div>
        </div>

        {# <!-- Actualité -->
        <div class="news">
            <div class="news-container">
                <h2 class="title">Nos actualités<br><span>A la Une</span></h2>
                <div class="card-container">
                    {% for article in articles %}
                        <div class="card news_card{{article.id}}">
                            <div class="text-container">
                                <h4 class="article-title">{{article.name}}</h4>
                                <p class="paragraphe">
                                {{article.description}}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div> #}


    <!-- FOOTER -->
    {% include '/Composant/footer.html.twig' %}

{% endblock %}