{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}
{% block body %}

<!-- MENU -->
{% include 'menu.html.twig' with {'user': user} %}
    <h1>Panier</h1>
<!-- FOOTER -->
{% include 'Composant/footer.html.twig' %}

{% endblock %}