{% extends 'base.html.twig' %}

<body>
    {% block body %}
    
    <section class="banner-blog">
      <p class="signature-blog">Emma </br> <span>Paris</span></p>
      
      <h1>{% block titre %}Acceuil{% endblock %}</h1>
    </section>
    
    
     {% endblock %}
</body>