{% extends 'base.html.twig' %}



<body>
    {% block body %} 
    
    
    <div class="card-container">
                <div class="card news_card1">
                    <div class="text-container">
                        <h4 class="article-title">Ras de cou - KIANA </h4>
                        <p class="paragraphe">
                            Le ras de cou Kiana est un bijou élégant et sophistiqué, conçu pour être porté autour du cou. Il est fabriqué à partir de perles d'eau douce et de pierres semi-précieuses.
                        </p>
                    </div>
            </div>
    
    
    
     {% endblock %}
</body>