{% extends 'base.html.twig' %}


<body>
    {% block body %} 
    
    
    <div class="card-container">
            
            <div class="card">
              
              <div class="image-card">

              </div>

              <div class="text-container-card">
                
                <h3>Boucles d'oreilles</h3>
                <p> Description du bijou</p>
                <div class="price">
                  <p class="des">100e</p>
                  <a class="btn-panier" href="./details.html">Ajouter au Panier</a>
              </div>

            </div>
              
            <div>

            </div>
            </div>
            <div class="card">
              <div class="image-card">

              </div>
              <div class="text-container-card">
                <h3>Boucles d'oreilles</h3>
                <p> Description du bijou</p>
                <div class="price">
                  <p class="des">100e</p>
                  <a class="btn-panier" href="./details.html">Ajouter au Panier</a>
                </div>
              </div>
              <div>

              </div>
            </div>
            <div class="card">
              <div class="image-card">

              </div>
              <div class="text-container-card">
                <h3>Boucles d'oreilles</h3>
                <p> Description du bijou</p>
                <div class="price">
                  <p class="des">100e</p>
                  <a class="btn-panier" href="../Payement/index.html">Ajouter au Panier</a>
                </div>
              </div>
              <div>

              </div>
            </div>
            <div class="card">
              <div class="image-card">

              </div>
              
              <div class="text-container-card">
                <h3>Boucles d'oreilles</h3>
                <p> Description du bijou</p>
                <div class="price">
                  <p class="des">100e</p>
                  <a class="btn-panier" href="../Payement/index.html">Ajouter au Panier</a>
                </div>
              </div>
              <div>

              </div>
            </div>
            <div class="card">
              <div class="image-card">

              </div>
              <div class="text-container-card">
                <h3>Boucles d'oreilles</h3>
                <p> Description du bijou</p>
                <div class="price">
                  <p class="des">100e</p>
                  <a class="btn-panier" href="../Payement/index.html">Ajouter au Panier</a>
                </div>
              </div>
              <div>

              </div>
            </div>
            <div class="card">
              <div class="image-card">

              </div>
              <div class="text-container-card">
                <h3>Boucles d'oreilles</h3>
                <p> Description du bijou</p>
                <div class="price">
                  <p class="des">100e</p>
                  <a class="btn-panier" href="../Payement/index.html">Ajouter au Panier</a>
                </div>
              </div>
              <div>

              </div>
            </div>
          </div>
    
    
     {% endblock %}
</body>