<div class="card-container">
    <div class="card">
        <div class="text-container">
            <h2 class="article-title">
            <a href="/blog/{{article.id}}"> {{ article.titre }}</a></h2>
             <p class="subtitle">
                {{ article.date_creation }}
            </p>
            <p class="paragraphe">
                {{ article.contenu }}
            </p>
        </div>
</div>
    