<div class="card-container">
    <div class="card">
        <div class="text-container">
            <h4 class="article-title">{{ article.title }}</h4>
            <p class="paragraphe">
                {{ article.description }}
            </p>
        </div>
</div>
    