<form class="login-form" action="{{ formAction }}" method="{{ formMethod }}">
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="MDP" required>
  </div>

  {% if isRegistrationPage %}
    <div>
      <label for="nom">Nom</label>
      <input type="text" id="nom" name="nom" required>
    </div>
  {% endif %}

  <button type="submit">Submit</button>
</form>
