{% extends 'base.html.twig' %}


<body>
    {% block body %}
    
    
    <div class="pagination">
            <p class="pagination-title">Page</p>
            <ul class="pagination-container">
              <li><<</li>
              <li>
                <a href="#">1</a>
              </li>
              <li>
                <a href="#">2</a>
              </li>
              <li>
                <a href="#">3</a>
              </li>
              <li>
                <a href="#">4</a>
              </li>
              <li>
                <a href="#">5</a>
              </li>
              <li>>></li>
  
            </ul>
          </div>
    
    
     {% endblock %}
</body>