    <div class="slide-card">
        <div class="box-img card" style="background-image: url('css/img/{{ product.Logo }}')"></div>
        <div class="text-container">
            <h3>{{product.nom}}</h3>
            <p class="text14">
            {{product.descriptions}}
            </p>
            <p class="text14">{{product.prix}}€</p>
            <a class="btn">Ajouter au panier</a>
        </div>
    </div>